@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #232946;
  font-family: 'Roboto', sans-serif;
}

.watchlist__ {}

.appbar__ {
  background-color: #232946 !important;
}

.appbrand__ {
  color: #fffffe;
  /* font-weight: bold; */
  font-size: 22pt;
}

.appbrand__:hover {
  color: #fffffe;
}

.appnav__>a {
  text-decoration: none;
}

.appnav__>a>.appnavlink__ {
  color: #b8c1ec;
}

.appnav__>a>.appnavlink__:hover {
  color: #eebbc3;
}

.appnav__>a>.appnavlink__.active {
  color: #eebbc3;
}

.appbarsearch__ {
  border-radius: 25px;
  border: 0;
}

.appbarbutton__ {
  border-radius: 25px;
  border: 0;
  background-color: #eebbc3 !important;
  color: #232946 !important;
}

.appbarbutton__:hover {
  background-color: #eebbc3 !important;
  color: #232946 !important;
}

.moviecard__ {
  background: #232946;
  border: 0;
}

.movieinfo__ {
  margin-top: -.5em;
}

.badge__ {
  background-color: #eebbc3 !important;
  color: #232946;
}

.headline {
  color: #fffffe;
}

.paragraph {
  color: #b8c1ec;
}

.secondary {
  color: #b8c1ec;
}